<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://beta.adalab.es/resources/stylesheets/all.css" />
    <title>
        <%= name %> - FilmAffinity
    </title>
</head>

<body class="page">
    <%- include('../partials/header'); %>

        <h1 class="mb-1 title--big">
            <%= name %>
        </h1>

        <h2 class="mb-1">Fecha de nacimiento: <%= birthday %>
        </h2>
        <h2 class="mb-1">Ciudad: <%= city %>
        </h2>

        <%- include('../partials/footer'); %>
</body>

</html>